/***********************************?
  /* Header */
/***********************************/
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  padding: 1.2rem 4.8rem 0 2.4rem;
  background-color: #f3f0ff;
}

.header-logo {
  height: 4.8rem;
}

.header-nav {
  display: flex;
  gap: 4rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.nav-link:hover,
.main-nav-link:active {
  color: #7755de;
}
/***********************************?
  /* Hero */
/***********************************/
.section-hero {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  padding: 2rem 0 4.8rem 0;
  background-color: #f3f0ff;
}

.hero-form {
  display: flex;
  gap: 1.6rem;

  padding: 1.2rem 2rem 2rem 2rem;
  background-color: #906ef8;
  border-radius: 1rem;

  color: #0d0919;
  font-size: 1.6rem;
  font-weight: 500;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero-search-results {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  height: 16rem;
  background-color: #fff;
  padding: 0rem 1.2rem 0rem 1.2rem;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}

.search-result-content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  padding-top: 1.2rem;
}

.result-title {
  font-weight: 500;
  color: #333;
  font-size: 1.4rem;
}

/***********************************?
  /* Summary */
/***********************************/
.section-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem 0 3.2rem 0;
}

.summary-form {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.8rem;
}

.summary-form input:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(119, 85, 222, 0.5);
}

.summary-content {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.header-desc {
  font-size: 2.4rem;
  font-weight: 500;
}

.header-date {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.content--inline {
  display: flex;
  justify-content: space-between;
}

.content-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.content--inline-details {
  font-size: 1.4rem;
}

.content--inline-details.on-target,
.detail-row-details.on-target {
  color: #2f9e44;
}

.content--inline-details.off-target,
.detail-row-details.off-target {
  color: #fa5252;
}

.content--multi-line {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.content--multi-line-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.2rem;
}

.details-row {
  display: flex;
  justify-content: space-between;
}

.content--table {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  font-size: 1.2rem;

  margin-top: 1.2rem;
  padding-right: 1.2rem;
  overflow-y: scroll;
  height: 10rem;
}

.table-row {
  display: flex;
  justify-content: space-between;
}

/***********************************?
  /* Profile */
/***********************************/
.section-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem 0 4.8rem 0;
}

.button-update {
  margin-top: 1.2rem;
  /* width: 20rem; */
  /* align-self: center; */
}

/***********************************?
  /* Update form */
/***********************************/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  display: flex;
  flex-direction: column;

  background-color: #f3f0ff;
  padding: 4.2rem 2.8rem 2.2rem 2.8rem;
  border-radius: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  width: 30rem;

  transition: all 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.button-close {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
}

.update-form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  row-gap: 1.8rem;
}

.update-form input,
.update-form select {
  background-color: #fff;
  color: #333;
}

.button-submit {
  grid-column: 1 / span 2;
  margin-top: 1.2rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
